**Question 1**

In [ ]:
# List of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list and find the min and max age
ages.sort()
min_age = ages[0]
max_age = ages[-1]

# Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)

# Find the median age
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n // 2 - 1] + ages[n // 2]) / 2
else:
    median_age = ages[n // 2]

# Find the average age
average_age = sum(ages) / n

# Find the range of the ages (max minus min)
age_range = max_age - min_age

print(f"Sorted ages: {ages}")
print(f"Min age: {min_age}")
print(f"Max age: {max_age}")
print(f"Median age: {median_age}")
print(f"Average age: {average_age:.2f}")
print(f"Age range: {age_range}")

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Min age: 19
Max age: 26
Median age: 24.0
Average age: 22.75
Age range: 7

In this we calculated the median by using the formula if n is odd (n+1)/2 if n is even then (sum of 2 middle numbers)/2,and also calculated the average, range

**Question 2**

In [ ]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, age to the dog dictionary
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Bulldog'
dog['legs'] = 4
dog['age'] = 3

# Create a student dictionary and add the specified keys
student = {
    'first_name': 'Prathap',
    'last_name': 'Reddy',
    'gender': 'Male',
    'age': 22,
    'marital_status': 'Single',
    'skills': ['Python', 'Data structures' ,'Java'],
    'country': 'USA',
    'city': 'Kansas',
    'address': '134 Main St'
}

# Get the length of the student dictionary
student_length = len(student)

# Get the value of skills and check the data type
skills = student['skills']
skills_type = type(skills)

# Modify the skills values by adding one or two skills
student['skills'].extend(['HTML', 'SQL'])

# Get the dictionary keys as a list
student_keys = list(student.keys())

# Get the dictionary values as a list
student_values = list(student.values())

print(f"Dog dictionary: {dog}")
print(f"Student dictionary: {student}")
print(f"Length of student dictionary: {student_length}")
print(f"Skills: {skills}")
print(f"Data type of skills: {skills_type}")
print(f"Student dictionary keys: {student_keys}")
print(f"Student dictionary values: {student_values}")

Dog dictionary: {'name': 'Buddy', 'color': 'Brown', 'breed': 'Bulldog', 'legs': 4, 'age': 3}
Student dictionary: {'first_name': 'Prathap', 'last_name': 'Reddy', 'gender': 'Male', 'age': 22, 'marital_status': 'Single', 'skills': ['Python', 'Data structures', 'Java', 'HTML', 'SQL'], 'country': 'USA', 'city': 'Kansas', 'address': '134 Main St'}
Length of student dictionary: 9
Skills: ['Python', 'Data structures', 'Java', 'HTML', 'SQL']
Data type of skills: <class 'list'>
Student dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Student dictionary values: ['Prathap', 'Reddy', 'Male', 22, 'Single', ['Python', 'Data structures', 'Java', 'HTML', 'SQL'], 'USA', 'Kansas', '134 Main St']

**Question 3**

In [ ]:
# Tuples of sisters and brothers
sisters = ("Ammu", "Smiley", "Chitti")
brothers = ("Praveen", "Yash", "Jay")

# Join brothers and sisters tuples to create siblings
siblings = sisters + brothers

# Count the number of siblings
number_of_siblings = len(siblings)

# Modify the siblings tuple to add the names of father and mother
family_members = siblings + ("Father", "Mother")
print(f"Sisters: {sisters}")
print(f"Brothers: {brothers}")
print(f"Siblings: {siblings}")
print(f"Number of siblings: {number_of_siblings}")
print(f"Family members: {family_members}")

Sisters: ('Ammu', 'Smiley', 'Chitti')
Brothers: ('Praveen', 'Yash', 'Jay')
Siblings: ('Ammu', 'Smiley', 'Chitti', 'Praveen', 'Yash', 'Jay')
Number of siblings: 6
Family members: ('Ammu', 'Smiley', 'Chitti', 'Praveen', 'Yash', 'Jay', 'Father', 'Mother')

In this we created two tupils and we added and named siblings and we find the length and we modified the tuple by adding father and mother to it.

**Question 4**

In [ ]:
# Define the sets and list
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies
length_it_companies = len(it_companies)
print(f"Length of it_companies: {length_it_companies}")

# Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(f"it_companies after adding 'Twitter': {it_companies}")

# Insert multiple IT companies at once to the set it_companies
it_companies.update(['TCS', 'LinkedIn', 'MuSigma'])
print(f"it_companies after adding multiple companies: {it_companies}")

# Remove one of the companies from the set it_companies
it_companies.remove('Oracle')
print(f"it_companies after removing 'Oracle': {it_companies}")

# Difference between remove and discard
# remove() will raise a KeyError if the item does not exist
# discard() will not raise an error if the item does not exist
try:
    it_companies.remove('NonExistentCompany')
except KeyError:
    print("remove() raises a KeyError if the item does not exist.")

it_companies.discard('NonExistentCompany')
print("discard() does not raise an error if the item does not exist.")

# Join A and B
union_AB = A.union(B)
print(f"Union of A and B: {union_AB}")

# Find A intersection B
intersection_AB = A.intersection(B)
print(f"Intersection of A and B: {intersection_AB}")

# Is A subset of B
is_A_subset_B = A.issubset(B)
print(f"Is A subset of B: {is_A_subset_B}")

# Are A and B disjoint sets
are_A_B_disjoint = A.isdisjoint(B)
print(f"Are A and B disjoint sets: {are_A_B_disjoint}")

# Join A with B and B with A (essentially the union operation)
join_A_B = A.union(B)
join_B_A = B.union(A)
print(f"Join A with B: {join_A_B}")
print(f"Join B with A: {join_B_A}")

# What is the symmetric difference between A and B
symmetric_difference_AB = A.symmetric_difference(B)
print(f"Symmetric difference between A and B: {symmetric_difference_AB}")

# Delete the sets completely
del A
del B
# Note: Printing A or B after deleting will raise an error because they no longer exist.

# Convert the ages to a set and compare the length of the list and the set
age_set = set(age)
print(f"Length of age list: {len(age)}")
print(f"Length of age set: {len(age_set)}")

Length of it_companies: 7
it_companies after adding 'Twitter': {'Google', 'Oracle', 'IBM', 'Twitter', 'Apple', 'Amazon', 'Facebook', 'Microsoft'}
it_companies after adding multiple companies: {'Google', 'TCS', 'Twitter', 'Apple', 'Oracle', 'IBM', 'LinkedIn', 'Amazon', 'Facebook', 'Microsoft', 'MuSigma'}
it_companies after removing 'Oracle': {'Google', 'TCS', 'Twitter', 'Apple', 'IBM', 'LinkedIn', 'Amazon', 'Facebook', 'Microsoft', 'MuSigma'}
remove() raises a KeyError if the item does not exist.
discard() does not raise an error if the item does not exist.
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
Join A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of age set: 5

**Question 5**

In [ ]:
import math

# Given radius
radius = 30

# Calculate the area of the circle
_area_of_circle_ = math.pi * radius * radius

# Calculate the circumference of the circle
_circum_of_circle_ = 2 * math.pi * radius

print(f"The area of the circle is: {_area_of_circle_} square meters")
print(f"The circumference of the circle is: {_circum_of_circle_} meters")

# Take radius as user input and calculate the area
user_radius = float(input("Enter the radius of the circle: "))

# Calculate the area with user input
user_area_of_circle = math.pi * user_radius ** 2

print(f"The area of the circle with radius {user_radius} is: {user_area_of_circle} square meters")

The area of the circle is: 2827.4333882308138 square meters
The circumference of the circle is: 188.49555921538757 meters
Enter the radius of the circle: 10
The area of the circle with radius 10.0 is: 314.1592653589793 square meters

In this we calculated the area and circumference of the circle,and also the area based on user input

**Question 6**

In [ ]:
# Given sentence
sentence = "I am a teacher and I love to inspire and teach people"

# Split the sentence into words
words = sentence.split()

# Convert the list of words to a set to get unique words
unique_words = set(words)

# Find the number of unique words
number_of_unique_words = len(unique_words)

print(f"Unique words: {unique_words}")
print(f"Number of unique words: {number_of_unique_words}")

Unique words: {'inspire', 'love', 'people', 'am', 'I', 'teacher', 'a', 'teach', 'to', 'and'}
Number of unique words: 10

In this we split the sentence into words and we seperated  the unique words and cal the len of the unique words.

**Question 7**

In [ ]:
# Print the header
print("Name\tAge\tCountry \tCity")

# Print the details
print("Sai\t22\tUSA\t Overland park")

Name	Age	Country 	City
Sai	22	USA	 Overland park

In this we used \t This helps to align the output in a tabular format.

**Question 8**

In [ ]:
# Given values
radius = 10
area = 3.14 * radius ** 2

# Using f-string for string formatting
formatted_string = f"The area of a circle with radius {radius} is {area} meters square."

# Print the result
print(formatted_string)

The area of a circle with radius 10 is 314.0 meters square.

**Question 9**

In [ ]:
# Function to convert lbs to kg
def lbs_to_kg(weight_lbs):
    return round(weight_lbs * 0.453592, 2)

# Read the number of students
N = int(input("Enter the number of students: "))

# Initialize an empty list to store weights in lbs
weights_lbs = []

# Read weights in lbs from the user
print(f"Enter the weights of {N} students in lbs:")
for _ in range(N):
    weight = float(input())
    weights_lbs.append(weight)

# Initialize an empty list to store weights in kg
weights_kg = []

# Convert each weight to kg and store in the new list
for weight in weights_lbs:
    weights_kg.append(lbs_to_kg(weight))

# Print the original and converted weights
print("Weights in lbs:", weights_lbs)
print("Weights in kg:", weights_kg)

Enter the number of students: 4
Enter the weights of 4 students in lbs:
150
155
145
148
Weights in lbs: [150.0, 155.0, 145.0, 148.0]
Weights in kg: [68.04, 70.31, 65.77, 67.13]